<div class="container">
<h1>Hey there, <%=@guest%> <%= current_user.first_name%>! </h1>
  <% if @party.guests.length > 1 %>
    <h2>we found the following people in your party:</h2>
    <ul class="member-list">
    <% @party.guests.each do |guest| %>
    <li class="party-member-ind"><%= guest.first_name %></li>
    <%end%>
  </ul>

      <% @party.guests.each do |guest| %>
        <%= form_for guest, :remote => true, :url => { :action => "update", :controller=>"guests"}, :method=>"patch" do |f| %>
          <div class="party-member">
            <br/>
            <br/>
            <h3>Is <%= guest.first_name %> coming to Kimball's on Friday night?</h3>

            <%= f.label :attendingfri, "most definitely!" %>
            <%= f.radio_button :attendingfri, true %>
            <br/>
            <%= f.label :attendingfri, "can't make it" %>
            <%= f.radio_button :attendingfri, false %><br/>
            <h3>Is <%= guest.first_name %> attending the wedding on Saturday?</h3>

            <%= f.label :attendingsat, "most definitely!" %>
            <%= f.radio_button :attendingsat, true %>
            <br/>
            <%= f.label :attendingsat, "can't make it" %>
            <%= f.radio_button :attendingsat, false %>
          </div>

          <%= f.hidden_field :guest_id, value: guest.id %>

        <%end%>

        <!-- form for guest's meal -->
        <%= form_for guest.meal, :remote => true, :url => { :action => "update", :controller=>"meals"}, :method=>"patch" do |f| %>
          <div class="party-member">
             <br/>
            <br/>
            <h3>What would <%=guest.first_name%> like to eat?</h3>
            <ul class="meal-choices">
              <li class="meal"><%= f.label :desc, "ice cream" %>
                <br/>
                <%= f.radio_button :desc, "ice cream" %>
              </li>
              <li class="meal">
              <%= f.label :desc, "fish pie" %>
              <br/>
              <%= f.radio_button :desc, "fish pie" %>
            </li>
            <li class="meal">
              <%= f.label :desc, "bubblegum" %>
              <br/>
              <%= f.radio_button :desc, "bubblegum" %>
            </li>
            <li class="meal">
              <%= f.label :desc, "Kid's Meal" %>
              <br/>
              <%= f.radio_button :desc, "kids" %>
            </li>
            <li class="meal">
              <%= f.label :desc, "N/A" %>
              <br/>
              <%= f.radio_button :desc, "NA" %>
            </li>
          </ul>
          </div>

          <%= f.hidden_field :guest_id, value: guest.id %>

        <%end%>


        <!-- special jQuery button : submit both of these forms -->
      <%end%>

      <button type="submit" name="Submit" id="<%= @party.id %>-rsvp-submit" class="rsvp-submit">RSVP!</button>

<%end %>

</div>