<h1>Hey there, <%= current_user.first_name%>! </h1>

    <h2>people in your party:</h2>

    <%= form_for @party do |f| %>

      <%= f.hidden_field :party_id, value: current_party.id %>

      <%= f.fields_for :guests do |guests_form| %>

            <%= guests_form.radio_button :attending, true, :checked => true %>
            <%= guests_form.label :attending, "yes!", :value => true %>
            <%= guests_form.radio_button :attending, false, :checked => false %>
            <%= guests_form.label :attending, "no", :value => false %>

            <%=guests_form.label :meal_id, "meal choice" %>
            <%=guests_form.radio_button :meal_id, :checked => 1 %>
            <%= guests_form.label :meal_id, "chicken", :value => 1 %>
            <%=guests_form.radio_button :meal_id, :checked => 2 %>
            <%= guests_form.label :meal_id, "veggie", :value => 2 %>
            <%=guests_form.radio_button  :meal_id, :checked => 3 %>
            <%= guests_form.label :meal_id, "pasta", :value => 3 %>
        <%end%>


 <%= f.submit "submit", class: 'btn btn-primary btn-lg' %>

    <%end%>


