
<div class="container">

<h1>So where is this "Groton, Massachusetts?"</h1>
<p>Fun fact: Groton was a battlefield in King Philip's War and Queen Anne's War!</p>

<%=image_tag "map2.png", :class=>'address' %>


<p>Groton is about an hour west of Boston, and about 45 minutes from Worcester. If you are flying in from out of town, we recommend you travel to either Logan Airport in Boston or Worcester Airport in, you guessed it, Worcester. If you are taking the train or bus, travel to either South Station in Boston or Union Station in Worcester.</p>


<h1>What should I do there?</h1>
<div class="row activity">
  <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3">
    <div class="col-xs-12 col-sm-4 col-md-4">
      <%=image_tag "hikersfll.png", :class => "canoe" %>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8">
      <p class="dek">Take a hike at the <a href="http://www.farnwr.org/maps.html">Assabet River Wildlife Refuge</a><p>
    </div>
  </div>
</div>

<div class="row activity-non">
  <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
  <p class="dek">Check out the butterflies and some beautiful greenery at  <a href="https://butterflyplace-ma.com/" target="_blank">The Butterfly Place</a> in Westford</p>
</div>
</div>

<div class="row activity">
  <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2">
    <div class="col-xs-12 col-sm-8 col-md-8">
      <p class="dek">Treat yourself to a giant ice cream cone at <a href="http://kimballfarm.com/" target="_blank">Kimball Farm</a>, where Lisa used to go as a kid! Kimball's also has mini-golf, batting cages, bumper boats, and tons more.  </p>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-4">
      <%=image_tag "kimballs.png", :class => "kimballs" %>
    </div>
  </div>
</div>

<div class="row activity-non">
  <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
  <p class="dek">Go for a stroll in downtown Concord, where there are loads of shops, cafes, and restaurants.</p>
</div>
</div>

<div class="row activity">
  <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2">
    <div class="col-xs-12 col-sm-4 col-md-4">
    <%=image_tag "canoe.png", :class => "canoe" %>
  </div>
  <div class="col-xs-12 col-sm-8 col-md-8">
    <p class="dek">Rent a canoe, kayak, or paddleboard from <a href="http://www.nashobapaddler.com/" target="_blank">Nashoba Paddler</a> and go on an adventure on the Nashua River! (note: Nashoba Paddler is cash/check only) </p>
  </div>
  </div>
</div>

<div class="row activity-non">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
    <p class="dek">Check out the MIT Haystack observatory</p>
  </div>
</div>

<div class="row activity">
  <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2">
    <div class="col-xs-12 col-sm-8 col-md-8">
      <p class="dek">Grab a solar-powered pint at <a href="http://www.brewtruewest.com/">True West Brewing Company</a>, or a non-solar-powered one at <a href="http://drinkrapscallion.com/" target="_blank">Rapscallion Tap Room</a> in Acton. If you're feeling tropical, head over to the <a href="http://sunset-tiki.com/" target="_blank">Sunset Tiki Bar</a> in Westford</p>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-4">
      <%=image_tag "beer.png", :class => "kimballs" %>
    </div>
  </div>
</div>

<div class="row activity">
  <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2">
    <div class="col-xs-12 col-sm-4 col-md-4">
      <%=image_tag "alpaca.png", :class => "kimballs" %>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8">
      <p class="dek">Visit the adorable Alpacas at <a href="http://luinagreine.com/" target="_blank">Luina Greine Farm</a>!</p>
    </div>
  </div>
</div>
</div>