
<div class="container">

<h1>Welcome to Groton, MA!</h1>
<h3>passenger side, passenger side, I don't like riding on the passenger side</h3>
<p>In spite of all of these California pictures on our site, our wedding will bring you to the adorable town of Groton, Massachusetts!<br>
  Fun fact: Groton was a battlefield in King Philip's War and Queen Anne's War!</p>
<p class="address">
<%=image_tag "map2.png" %>
</p>
<div class="container-sub">
<p>Groton is just shy of an hour west of Boston, and about 45 minutes east of Worcester.</p>
<p> If you are flying in from out of town, we recommend you travel to either Logan Airport in Boston or Worcester Airport in, you guessed it, Worcester. </p>
<p>If you are taking the train or bus, travel to either South Station in Boston or Union Station in Worcester.</p>
<p>If you are driving, you'll more likely rely on a smartphone or actual paper map than this website for directions, but what the hey; Groton is right off of 495, and routes 225 and 111 run right through it.</p>
</div>


<h1>Fun things to do and see</h1>
<div class="row activity">

    <div class="col-xs-12 col-sm-4 col-md-3">
      <%=image_tag "hikersfll.png", :class => "canoe" %>
    </div>
    <div class="col-xs-12 col-sm-5 col-md-5">
      <p class="dek">Take a hike at the <a href="http://www.farnwr.org/maps.html">Assabet River Wildlife Refuge</a>. In addition to wetlands and vernal pools, there are 15 miles of hiking and biking!<p>

  </div>



  <div class="col-xs-12 col-sm-3 col-md-3">
  <p class="dek non-feat">Check out the butterflies and some beautiful greenery at  <a href="https://butterflyplace-ma.com/" target="_blank">The Butterfly Place</a> in Westford. <br/>(note: note: butterflies taste with their feet! Wow, who knew?!)</p>
</div>
</div>

<div class="row activity">
  <div class="col-xs-12 col-sm-4 col-md-4">
  <p class="dek">Go for a stroll in downtown Concord, where there are loads of shops, cafes, and restaurants. Another fun fact: Jackie O's children went to school here, at Concord Academy.</p>

</div>
    <div class="col-xs-12 col-sm-4 col-md-4">
      <p class="dek">Treat yourself to a giant cone at <a href="http://kimballfarm.com/" target="_blank">Kimball Farm</a>, where Lisa used to get ice cream all over her face as a kid! Kimball's also has batting cages, bumper boats, and tons more. <br/><br/><i class="fa fa-star" aria-hidden="true"></i> Bonus points if you actually finish your ice cream.</p>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-4">
      <%=image_tag "kimballs.png", :class => "kimballs" %>
    </div>

</div>




<div class="row activity">
    <div class="col-xs-12 col-sm-5 col-md-5">
    <%=image_tag "canoe.png", :class => "canoe" %>

    <p class="dek">Rent a canoe, kayak, or paddleboard from <a href="http://www.nashobapaddler.com/" target="_blank">Nashoba Paddler</a> and go on an adventure on the Nashua River! (note: Nashoba Paddler is cash/check only) </p>
  </div>
    <div class="col-xs-12 col-sm-2 col-md-2">
      <%=image_tag "alpaca.png", :class => "kimballs" %>
    </div>
    <div class="col-xs-12 col-sm-3 col-md-3">
      <p class="dek">Say hello to the adorable Alpacas at <a href="http://luinagreine.com/" target="_blank">Luina Greine Farm</a> and give them a big hug from Lisa! (note: unsure if guests are allowed to hug alpacas, so please exercise caution).</p>
    </div>

</div>




<div class="row activity">

    <div class="col-xs-12 col-sm-4 col-md-4">
      <p class="dek">It's sour hour! Grab a solar-powered beer from <a href="http://www.brewtruewest.com/">True West Brewing Company</a>, or a non solar-powered, but equally dank one at <a href="http://drinkrapscallion.com/" target="_blank">Rapscallion Tap Room</a> in Acton. If you're feeling tropical, head over to the <a href="http://sunset-tiki.com/" target="_blank">Sunset Tiki Bar</a> in Westford, where there is a fake beach set up and usually live music.</p>
    </div>
    <div class="col-xs-12 col-sm-3 col-md-3">
      <%=image_tag "beer.png", :class => "kimballs" %>
    </div>
  <div class="col-xs-12 col-sm-5 col-md-5">
  <p class="dek">If you are up for a drive and love visiting historical places (we're looking at you, Roger Buch, Eric Moroney, and Molly Goodman), take a trip to the <a href="https://www.nps.gov/lowe/index.htm" target="_blank">Lowell Mills.</a>
</div>

</div>





</div>
</div>