
<div class="name-overlay">
  Lisa & David<br>
  <span class="date">June 16 2018</span>
  <span class="date">I think it's time that we grow old and do some shit</span>
</div>
  <div id="myCarousel" class="carousel slide carousel-fade" data-ride="carousel">
<div class="container-front">
    <div class="carousel-inner">
      <div class="item  active">
          <%=image_tag "dave_lisa_005.jpg"%>

      </div><!--item active-->
      <div class="item">

          <%=image_tag "dave_lisa_041.jpg"%>

      </div><!--item active-->
      <div class="item">

          <%=image_tag "dave_lisa_046.jpg"%>

      </div><!--item active-->
      <div class="item">

          <%=image_tag "dave_lisa_076-2.jpg"%>

      </div><!--item active-->
      <div class="item">

          <%=image_tag "dave_lisa_083.jpg"%>

      </div><!--item active-->
      <div class="item">

          <%=image_tag "dave_lisa_122.jpg"%>

      </div><!--item active-->
      <div class="item">

          <%=image_tag "dave_lisa_167.jpg"%>

      </div><!--item active-->
    </div>
  </div>

  </div>

