<!DOCTYPE html>
<html>
<head>
  <title>Buchoroney</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag '//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css' %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav class="navbar custom-transparent">
    <ul class="nav navbar-nav">
      <li><a href="/">home</a></li>
        <li><%= link_to "Davey and Leesy", page_path('about') %></li>
        <li><%= link_to "where to go", page_path('about') %></li>
        <li><%= link_to "where to stay", page_path('about') %></li>
        <li><%= link_to "registry" %></li>

      </ul>
</nav>

<%= yield %>

</body>
</html>
